# app port
PORT=3010
# serve swagger docs at /api
SWAGGER_ENABLED=false
# max client clock skew tolerance, in ms
# for click sessions validation and boosters application
# recommended to be less than avg click session duration
MAX_CLOCK_SKEW_MS=4000 # 4 seconds
# logging format
LOGGER_FORMAT=json # pretty | json

# sentry dsn
SENTRY_DSN=
# sentry sample rate
SENTRY_SAMPLE_RATE=1
# sentry trace sample rate
SENTRY_TRACE_SAMPLE_RATE=1

# db credentials
DB_URL=postgres://postgres:strongpassword@postgres:5432/vkcloud-clicker?sslmode=disable
# redis credentials
REDIS_URL=redis://:strongpassword@redis:6379/0

# app url (frontend)
# for /start command and play button in tg bot
APP_URL=https://vkcloud-clicker.preview.zumm.pro
# api url (backend)
# for tg bot webhook construction
API_URL=https://vkcloud-clicker-api.preview.zumm.pro

# tg bot token
TG_BOT_TOKEN=
# protect admin commands
TG_BOT_PROTECTION_ENABLED=true
# array of tg bot admin ids, tg ids comma-separated
TG_BOT_ADMIN_IDS=275033570,75178947

# jwt secret
AUTH_JWT_SECRET=
# jwt ttl, in seconds
AUTH_ACCESS_TOKEN_TTL=3600 # 1 hour
# tg initData ttl, in seconds
AUTH_REFRESH_TOKEN_TTL=1814400 # 21 days

# max click per seconds for click sessions
# note: this option implicitly sets min click session duration
CLICK_SESSION_CPS_LIMIT=20
# max click session duration, in ms
CLICK_SESSION_MAX_DURATION_MS=10000 # 10 seconds
# click session ttl, in seconds
# older click sessions will be discarded
CLICK_SESSION_TTL=604800 # 7 days
